{% extends 'layout/basic.html' %}
{% block title %}
    Детальное
{% endblock %}
{% block content %}
    <div>
        <h1>Рубрика : <a href="{% url 'by_rubric' object.rubric_id %}">{{ object.rubric }}.</a></h1>
        <h2>Товар : {{ object.title }}.</h2>
        <p>Описание товара : {{ object.content }}</p>
        <p><em>Цена товара</em> : {{ object.price }}</p>
        <p>Дата публикации : {{ object.published }}</p>
        <h2><a href="{% url 'update' object.pk %}"><em>Исправить объявления.</em></a></h2>
        <h2><a href="{% url 'delete' object.pk %}"><em>Удалить объявления.</em></a> </h2>
    </div>
{% endblock %}