<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<div>
    <table>
        <tr>
            <ul>
                <li>
                    <h1>{{ publisherOne.name }}</h1>
                </li>
                <li>{{ publisherOne.country }}</li>
                <li>{{ publisherOne.state_province }}</li>
                <li>{{ publisherOne.city }}</li>
                <li>{{ publisherOne.address }}</li>
                <li>{{ publisherOne.website }}</li>
            </ul>
        </tr>
    </table>

</div>


</body>
</html>